//palette colors
$palette-1: var(--palette-1);
$palette-1-lighten: var(--palette-1-lighten);
$palette-1-darken: var(--palette-1-darken);

$palette-2: var(--palette-2);
$palette-2-lighten: var(--palette-2-lighten);
$palette-2-darken: var(--palette-2-darken);

//fonts colors
$palette-10: var(--palette-10);
$palette-10-lighten: var(--palette-10-lighten);
$palette-10-darken: var(--palette-10-darken);