$header-padding-value: 0.6rem 1rem;

$item-title-font-height: 1.5rem;
$item-title-margin: 1.2rem;

$paragrah-line-height: 2.4rem;

$paragraph-font-small-height: 0.9rem;
$paragraph-font-tiny-height: 0.8rem;

$metrics-section-padding: 6rem 0rem;

$mobile-breackpoint: 760px;
$table-breackpoint: 1240px;