<ng-template cdkPortal doomPortalPush="layout-header-left">
  <button mat-button (click)="backClicked()"><mat-icon prefix>keyboard_backspace</mat-icon> Back</button>
</ng-template>
<ng-template cdkPortal doomPortalPush="layout-header-right">
  <button mat-raised-button color="primary" (click)="openOrganizationForm()">
    <mat-icon fxHide fxShow.xs="true">
      add
    </mat-icon>
    <span fxShow fxHide.xs="true">New</span>    
  </button>
  <button mat-button color="primary" (click)="editOrganization()">
    <mat-icon fxHide fxShow.xs="true">
      edit
    </mat-icon>
    <span fxShow fxHide.xs="true">Edit</span>
  </button>
  <button mat-button color="primary" (click)="deleteOrganization()">
    <mat-icon fxHide fxShow.xs="true">
      delete
    </mat-icon>
    <span fxShow fxHide.xs="true">Delete</span>
  </button>
</ng-template>
<admin-template>
  <div class="content" content>
    <div class="container">
      <div class="row area-header">
        <h1 class="ep-title">
          Organizations
        </h1>
        <div class="filter-form">
          <mat-form-field>
            <input matInput placeholder="Email">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Name">
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="applyFilter($event.target.value)"><mat-icon>search</mat-icon> Search</button>
        </div>
      </div>
      
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? singleSelect(row) : null"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>
    
        <!-- Progress Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
          <td mat-cell *matCellDef="let row"> {{row.description}} </td>
        </ng-container>  


        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
          <td mat-cell *matCellDef="let row"> {{ row.address }} </td>
        </ng-container>

        <ng-container matColumnDef="organization_color">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
          <td mat-cell *matCellDef="let row"> <div style="width: 80%; height: 1rem; margin: 0 auto;" [style.backgroundColor]="row.organization_color"></div> </td>
        </ng-container>        
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>
  <div class="footer" layoutFooter>
  </div>
</admin-template>