:host{
    position: relative;
    height: 100%;
    .admin-layout {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        background-size: cover;
    }
    .route-children /deep/ {
        position: relative;
        flex-grow: 1;   
        display: flex;
        flex-direction: column;
        >*{
            flex-direction: column;
            display: flex;
            flex-grow: 1;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}