//nueva paleta de colores
$color-background-primary: var(--color-background-primary);
$color-background-primary-lighten: var(--color-background-primary-lighten);
$color-background-primary-darken: var(--color-background-primary-darken);
$color-background-primary-contrast: var(--color-background-primary-contrast);

$color-font-primary: var(--color-font-primary);
$color-font-primary-lighten: var(--color-font-primary-lighten);
$color-font-primary-darken: var(--color-font-primary-darken);
$color-font-primary-contrast: var(--color-font-primary-contrast);

$color-title-primary: var(--color-title-primary);
$color-title-primary: var(--color-title-primary-lighten);
$color-title-primary: var(--color-title-primary-darken);
$color-title-primary: var(--color-title-primary-contrast);

$color-theme-primary: var(--color-theme-primary);
$color-theme-primary-lighten: var(--color-theme-primary-lighten);
$color-theme-primary-darken: var(--color-theme-primary-darken);
$color-theme-primary-contrast: var(--color-theme-primary-contrast);

$color-theme-secondary: var(--color-theme-secondary);
$color-theme-secondary-lighten: var(--color-theme-secondary-lighten);
$color-theme-secondary-darken: var(--color-theme-secondary-darken);
$color-theme-secondary-contrast: var(--color-theme-secondary-contrast);