@import "src/sass/admin/colors";
@import "src/sass/admin/metrics";

background-template{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    .content-template{
        display: flex;
        flex-grow: 1;
        flex-direction: column;
    }
    @media screen and (max-width: $mobile-breackpoint ) {
        .footer{
            .copyright{
                flex-direction: column;
                align-items: center;
                font-size: 0.8rem;
            }
        }
    }
}
.background{
    .logo{
        display: none;
    }
    &.admin-layout{
        background: url('/assets/resources/img/admin/background.png');
        background-size: cover;
    }
    .ep-footer{
        padding: 1rem 2rem;
        background: $palette-2;
        .copyright{
            display: flex;
            justify-content: space-between;
            color: #ccc;
            a{
                color: inherit;
                text-decoration: none;
            }
        }
    }
}